.col-4{
    margin-top: 10%;
    

    .card{
        
        box-shadow: 0 0 2px black;
        font-weight: bold;
       
        padding-left: 20px;
    }
}

img{
    margin-left: 250px;
    margin-top: 80px;
    box-shadow: 0 0 5px black;
    width: 65%;
    height: 60%;
}